html body
{
	margin: 0px;
}

#iframe-container
{
	z-index: 100;
}

#content-container
{
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	overflow-y: hidden;
}

.iframeshim
{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: -10000;
	background: black;
}

#map3d
{
	margin:    0;
	padding:   0;
	height:    100%;
	width:     100%;
	z-index:   2;
	position:  absolute;
}